.App {
  text-align: left;

  .add-icon{
    color: White;
  }

  .bg-light {
    background-color: darkcyan !important;
  }

  .container{
    padding-left: 150px;
    padding-right: 150px;
  }

  p{
    padding-top: 20px;
    text-align: right;
    margin: 0px;
  }

  .navbar-brand{
    color: white !important;
  }

  li{
    padding-left: 30px
  }
  
}